@model BankMileniumInterviewApp.Models.UserInfo

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Next", "Home", FormMethod.Post))
{
    @Html.ValidationSummary();


    <p>
        @Model.Translator["Name"]

        @Html.EditorFor(m => m.Name)
    </p>

    <p>
        @Model.Translator["Email"]
        @Html.EditorFor(m => m.Email, new[] { "@maxlenght=50" })
    </p>

    <input   type="submit" value="Dalej" />
    
}

